body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  background-color: rgb(0, 74, 97);
}

body::-webkit-scrollbar {
  display: none;
}


.container {
  width: 100%;
  height: 100vh;
}

.top-container {
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: hidden;
}


.top-container::before {
  content: "func tion greet (visitor) console. log(` <-> Hello, ${visi tor}! `); } greet (); // Welcome to my portfolio site";
  position: absolute;
  top: -100;
  left: -15vw;
  font-size: 20vw;
  font-weight: bold;
  font-family: 'Flow Circular', cursive;
  z-index: -1;
  transition: opacity 0.5s ease-in-out;
  padding-left: 5%;
  /* animation: marquee 30s cubic-bezier(0.09, 0.003, 0.0515, 0.555) infinite ; */
  line-height: 0.55;
  
  background: linear-gradient(to bottom right, rgba(0, 40, 53, 0.04), rgba(0, 40, 53, 0.05), rgba(255, 255, 255, 0.04), rgba(0, 40, 53, 0.05));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

}



@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.top-container.fade-out::before {
  opacity: 0;
}

.projects-container {
  padding-bottom: 5rem;
  padding-top: 5rem;
  background-color: #e7e7e7;
  
  background-image: linear-gradient(to bottom, #f8f8f8, #bdbdbd);
}

.name {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  position: relative;
  padding-top: 25vh;
}

.name::after {
  content: '. . .';
  position: absolute;
  bottom: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  color: rgb(0, 74, 97);
}

h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.contact-card-link {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  text-decoration: none;
  color: inherit;
}

.contact-card-icon {
  margin-right: 0.5rem;
}

.button-row {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.button-row a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    margin-right: 1rem;
    border-radius: 50%;
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

.button-row a:hover {
    background-color: rgb(190, 202, 216);
}

main {
    text-align: center;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}


.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  padding-left: 2rem;
  padding-right: 2rem;
  /* italicize */
  font-style: italic;
  font-weight: 200;
  height: 100%;
  padding-bottom: 0.5rem;
}

@media only screen and (max-width: 600px) {
  .section-header {
    padding-bottom: 4rem;
  }
}

.section-title {
  font-size: 2rem;
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
}

.section-header a {
  text-decoration: none;
  color: inherit;
}

.divider {
  flex-grow: 1;
  height: 1px;
  background-color: #000000;
  margin-left: 1rem;
}


.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* adjust the minmax value as needed */
  grid-gap: 2rem;
  max-width: 70vw;
  margin: 0 auto;
  margin-bottom: auto;
} 

.project-card {
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover;
  background-position: center;
  height: 340px;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  max-width: 100%; /* add this property to prevent the cards from becoming too wide */
}

@media only screen and (max-width: 500px) {
  .project-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .project-card {
    height: 300px;
  }
}

.project-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.project-card-content {
  padding: rem;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(0, 0, 0));
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.project-card-title {
  font-size: 1.5rem;
  margin-bottom: 0;
  line-height: 1.2;
  color: #fff;
  padding: 1.3rem;
  padding-bottom: 0.5rem;
}

.project-card-description {
  font-size: 1rem;
  margin-top: 0;
  padding: 1.3rem;
  padding-bottom: 0.5rem;
  padding-top: 0;
  color: #ffffffe8;
}

.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 1rem;
}

.project-grid a {
  text-decoration: none;
  color: inherit;
}


.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding-top: 2rem;
  padding-bottom: 2rem;
  /* add a gradient top to bottom */
  background-image: linear-gradient(to bottom, rgb(40, 101, 119), rgb(0, 74, 97));
}

.footer-container h4 {
  padding: 0.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 0;
  font-weight: 200;
  font-style: italic;
  text-align: center;
}

.footer-container p {
  margin-top: 0;
  padding-top: 0;
  font-weight: 100;
  font-style: italic;

}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0rem;
}


/* 

Skills 

*/

.skills-container {
  background-image: linear-gradient(to bottom, #242424, #222222);
  color: #fff;
  padding-top: 1rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
}


.skills-container .skills-icons {
  /* list-style-type: none; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1100px;
  margin: 0 auto;
  z-index: 10;
  padding-inline-start: 0%;
  padding-bottom: 1rem;
}

.skills-container .skills-icons svg {
  margin: 0.5rem;
  width: 90px;
}

@media (max-width: 420px) {
  .skills-container .skills-icons svg {
    width: 70px;
  }
}

.skills-container .skills-icons li {
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1rem;
  margin: 1rem;
}

@media (max-width: 420px) {
  .skills-container .skills-icons li {
    margin: 1rem 0.75rem;
  }
}

.skills-container .skills-icons li:hover svg {
  filter: drop-shadow(0 0 50px rgba(255, 255, 255, 0.3));
}

.skills-container .skills-icons svg {
  margin: 0.5rem;
  width: 90px;
  transition: filter 0.2s ease-in-out;
}


.skills-container .skills-icons li:hover {
  transform: scale(1.1);
}
